div {
  padding-left: 5px;
  padding-right: 5px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.flex-item-left {
  flex: 30%;
  padding-left: 0px;
  padding-right: 20px;
}

.flex-item-right {
  flex: 70%;
  padding-left: 0px;
  padding-right: 0px;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 900px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }
}
